<!-- templates/register.html -->
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div>
    {{ form.email_or_phone.label_tag }}
    {{ form.email_or_phone }}
    {{ form.email_or_phone.errors }}
  </div>

  <div>
    {{ form.password.label_tag }}
    {{ form.password }}
    {{ form.password.errors }}
  </div>

  <div>
    {{ form.password_confirm.label_tag }}
    {{ form.password_confirm }}
    {{ form.password_confirm.errors }}
  </div>

  <button type="submit">Зарегистрироваться</button>
</form>
